.home{
    background-image: url(../images/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 915px;
}

.home-heading{
    position: absolute;
    font-family: 'Shojumaru', cursive;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    padding-top: 400px;
}