@media (max-width:671px) {
    .fest-date{
        font-size: 3vh;
    }
    .loader{
        border: 0 solid transparent;
        border-radius: 40%;
        width: 80px;
        height: 80px;
        position: relative;
        padding-top: 250px;
    }
    .loader:before, .loader:after{
        border: 0.5em solid tomato;
    }
    .header-img{
        margin-left: 30px !important;
        width: 50px !important;
        height: 50px !important;
    }
    .home-heading{
        font-size: 50px !important;
    }
    .about-text{
        font-size: 20px !important;
        width: 80% !important;
        padding-top: 90px !important;
        padding-left: 80px !important;
        word-spacing: 4px !important;
        line-height: 32px !important;
    }
    .about-heading{
        padding-top: 15px !important;
        padding-left: 50px !important;
        font-size: 37px !important;
        word-spacing: 2px !important;
    }
}

@media (max-width: 1285px) and (min-width: 672px){
    .about-text{
        width: 80% !important;
        font-size: 25px !important;
        line-height: 50px !important;
        word-spacing: 7px !important;
        padding-top: 190px !important;
    }
    .about-heading{
        font-size: 60px !important;
    }
}