.bg-dark{
    /* background-color: rgba(4, 28, 66, 0.8) !important; */
}

.header-img{
    margin-left: 50px;
    width: 90px;
    height: 90px;    
}

.nav-link{
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.nav-item{
    margin: 0 15px;  
}

.nav-link:hover{
    background: rgb(245, 216, 161);
    transition: 0.6s all;
    margin-top: 15px; 
}

.navbar-toggler{
    float: right;
    margin-left: 25%;
}