.header-img{
    margin-left: 50px;
    width: 90px;
    height: 90px;    
}

nav ul li{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    transition: 0.6s all;

}

.nav-item{
    margin: 0 15px;  
}

nav ul li:hover{
    background: rgb(241, 205, 139);
    margin-top: 15px; 
}

.navbar-toggler{
    float: right;
    margin-left: 25%;
}